@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Nunito', sans-serif;
}
input {
  font-family: 'Nunito', sans-serif;

}
input::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
}
button {
  font-family: 'Nunito', sans-serif;
}
.Toastify__toast-body{
  font-family: 'Open Sans', sans-serif!important;
  font-size: 1.2rem;
}

.item  {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 1.6rem;
}