@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}
input {
  font-family: 'Open Sans', sans-serif;

}
input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
}
button {
  font-family: 'Open Sans', sans-serif;
}
.Toastify__toast-body{
  font-family: 'Open Sans', sans-serif!important;
  font-size: 1.2rem;
}
.opensan {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif!important;
}
.item  {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 1.6rem;
}
.ei-simpler-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-family: 'Archivo Black', sans-serif;
   font-size: 4rem;
   font-weight: 500;
   width: 100vw;
   height: 100vh;
}

@media only screen and (max-width: 768px) {

}