body {
  font-family: 'Nunito', sans-serif !important;
}
h1 {
  font-family: 'Nunito', sans-serif;
}
input {
  font-family: 'Nunito', sans-serif;

}
input::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
}
button {
  font-family: 'Nunito', sans-serif;
}
.Toastify__toast-body{
  font-family: 'Nunito', sans-serif!important;
  font-size: 1rem;
}